<h2>Order confirmation for order: <%= @order_confirmation.id %></h2>
<p>Thanks for shopping with us!</p>
<% @order_confirmation.order_items.each do |k,v| %>
  <ul>
    <li><%= Product.find(k).name + ',' + v.to_s %></li>
  </ul>
<% end %>
<p>
  <strong>Order Total: </strong><%= number_to_currency(@order_confirmation.grand_total) %>
</p>
